@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&family=Sora:wght@600&display=swap');

.App{
  overflow: hidden;
}

.navbar{
  width: 100%;
  align-items: center;
}

.navbar__wrapper{
  display: flex;
  justify-content: space-between;
  padding: 25px 70px;
  align-items: center;
}

.navbar__mid{
  display: flex;
  gap:50px ;
  cursor: pointer;
}



.nav__title{
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #434343;

}

.link{
  text-decoration: none;
}

.wallet__btn{
 padding: 7px 10px;
  color: #fff;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.img__dropdown{
  display: none;
}

.container{
  width: 100%;
}
.home__container{
  padding: 50px 70px;
}


.home__top{
  display: flex;
  justify-content: space-between;
}

.home__top__left{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
}

.home__header{
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 140%;
padding-bottom: 20px;
width: 90%;
color: #434343;
}

.header__diff{
  color: #A02279;
}


.home__top__words{
  width: 90%;
  padding-bottom: 30px;
}

.home__top__words p{
  
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;
color: #434343;
}

.input__box{
  width: 90%;
  display: flex;
  position: relative;
  align-items:center;
}

.input{
  width: 70%;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #A3A3A3;
  padding: 8.6px 10px;
  outline: none;
}

.input::placeholder{
  color: #B8B8B8;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%
}
.search__btn{
 width: 300px;
 border-radius: 0px 8px 8px 0px;
 padding: 7px 10px;
 color: #fff;
 background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
 border: none;
 cursor: pointer;
 font-family: 'Red Rose';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 20px;
}

.home__top__right{
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.img__container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left{
  margin-right: 10px;
  margin-top: 100px;
}

.divide__line{
  width: 100%;
  margin-top:20px ;

  background-color: #A02279;
}

.divide__line__content{
  padding:0 20px ;
  display: flex;
  justify-content: space-around;
}

.home__mid{
  margin-top: 20px;
}

.home__mid__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 70px;
}

.home__mid__topic{  
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 48px;

}
.home__image__wrapper{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home__image__container{
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  border-radius: 10px;
  border: 1px solid #D7D7D7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__image{
  padding: 10px;
}

.home__image__desc{
  display: flex;
  flex-direction: column;
  gap: 5px;
 
}

.home__desc__words{
  display: flex;
  gap:25px;
  justify-content: space-between;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #434343;
}

.cost{
  font-size: 12px;
  font-weight:700;
 
}

.home__bottom{
background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
border: 1px solid #000000;
display: flex;
padding: 70px 70px 200px 70px;
position: relative;
}

.home__bottom__left{
  margin-top: 70px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items:flex-start;
}

.home__bottom__left h3{
color: #fff;
font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
}

.home__bottom__left p{
  width: 70%;
  color: #fff;
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
}

.home__bottom__btn{
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
border-radius: 8px;
border: none;
padding: 7px 10px;
color: #A02279;
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
cursor: pointer;
}

.home__bottom__right{
  width: 50%;
  padding-bottom: 100px;
}

.img9{
  position: absolute;
  top: 70px;
  right: 10%;
}

.img7{
  position: absolute;
  top: 33%;
  right: 24%;
  z-index: 2;
}
.img8{
  position: absolute;
  top: 43%;
  right: 8%;
  z-index: 4;
}
.img{
  height: 300px;
  width: 350px;
}

.footer{
  background-color: 
  #1D1D1E;
}

.footer__container{
  padding: 70px 70px;
  display: flex;
  justify-content:space-between;
  /* align-items: center; */
}

.footer__left{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #fff;
  padding-left: 50px;
}

.footer__left__logo{
  margin-bottom: 50px;
}

.footer__left__icons{
  display: flex;
  gap: 30px;

}

.footer__right{
  display: flex;
  gap: 200px;
  color: #fff;
  margin-right: 50px;
}

.footer__links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  align-items: flex-start;
}

.footer__links p{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
}

.footer__link__topic{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.modal__container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal__wrapper{
  background-color: #fff;
  width: 80%;
  max-width:500px ;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 10px;
}

hr{
  margin: 0 -10px 0 -10px;
}
.modal__top{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.modal__top img{
  cursor: pointer;
}
.modal__buttom{
  padding:10px ;
  align-items: flex-start;
}

.modal__buttom__wrapper{
  gap: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #333333;
}

.modal__buttom__wrapper p{
  
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.wallet__icons{
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #CFD8DC;
  border-radius: 16px;
  width: 95%;
  cursor: pointer;
  justify-content: space-between;
  padding: 10px 10px;
  color: #000000;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
 
}

.wallet__icons:hover{
  background: #F8F9FA;
}

.icon{
  display: flex;
  gap: 10px;
  padding-left: 10px;
  align-items: center;
 
}

.icon__arrow{
  padding-right: 10px;
}

.places{
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  align-items: center;
  gap: 20px;
}

.places__top{
  display: flex;
  gap: 50px;
  align-items: center;
  cursor: pointer;
}

.select__input{
  display: none;
}
.places__top span{
  
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #434343;
}

.dropdown{
  margin: auto;
  position:fixed;
  top:10%;
  left:30% ;
  background-color: #fff;
  width: 60%;
  box-shadow: -2px 10px 8px -3px rgba(31,29,29,0.75);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: 10%;
}

.dropdown__mid{
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  padding: 20px;
  align-items: center;
 
}

.dropdown__btn{
  padding: 7px 10px;
  color: #fff;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media(max-width:800px){
  .navbar__wrapper{
    padding: 25px 20px;
    align-items: center;
  }
  .navbar__mid{
    display: none;
  }

  .wallet__btn{
    display: none;
  }

  .img__dropdown{
    display: flex;
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
    cursor: pointer;
  }

   .home__container{
    padding: 20px 20px;
   }   
  .home__top{
    flex-direction: column;
  }

  .home__top__left{
    width: 100%;
  }
  .home__header{
    font-size: 26px;
    line-height: 140%;
    width: 95%;
    color: #434343;
    }
  .home__top__words p{
    font-size: 16px;
    line-height: 35px;
    color: #434343;
    }

  .search__btn{
    width: 100px;
    }
    .home__top__right{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
  } 
  .img__container img{
   width: 220px;
   height: 150px;
   object-fit: contain;
  }
  
  .left{
    margin-right: 0px;  
  }
  
  .divide__line__content img{
   width: 120px;
   height: 50px;
   object-fit: contain;
  }
  
  .home__mid__topic{  
    font-size: 35px;
    }

  .home__bottom__left{
    width: 100%;
  }
  .home__bottom__left h3{
    font-size: 40px;
    }
  .home__bottom__left p{
    width: 100%;
  }
  
  .home__bottom__right{
    display: none;
  }

  .footer__container{
    padding: 70px 0px;
    position: relative;
  }

  .footer__right{
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #fff;
    margin-left: 30px;
  }

  .about{
    position: absolute;
    bottom: 12%;
    left: 10%;
  }

  .copyright{
    position: absolute;
    bottom: 0;
  }

  .places__top span{
    display: none;
  }
  .select__input{
    display: flex;
    padding: 14px 14px;
    border-radius: 10px;
  }
  .select__input option{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}


@media(max-width:1024px){
  .navbar__wrapper{
    padding: 25px 20px;
    align-items: center;
  }
  .navbar__mid{
    display: none;
  }

  .wallet__btn{
    display: none;
  }

  .img__dropdown{
    display: flex;
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
    cursor: pointer;
  }

   .home__container{
    padding: 20px 20px;
   }   
  .home__top{
    flex-direction: column;
  }

  .home__top__left{
    width: 100%;
  }
  .home__header{
    font-size: 26px;
    line-height: 140%;
    width: 95%;
    color: #434343;
    }
  .home__top__words p{
    font-size: 16px;
    line-height: 35px;
    color: #434343;
    }

  .search__btn{
    width: 100px;
    }
    .home__top__right{
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 20px;
    }

  
  .divide__line__content img{
   width: 120px;
   height: 50px;
   object-fit: contain;
  }
  
  .home__mid__topic{  
    font-size: 35px;
    }

  .home__bottom__left{
    width: 100%;
  }
  .home__bottom__left h3{
    font-size: 40px;
    }
  .home__bottom__left p{
    width: 100%;
  }
  
  .home__bottom__right{
    display: none;
  }

  .footer__container{
    padding: 70px 0px;
    position: relative;
  }

  .footer__right{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    color: #fff;
  }

  .copyright{
    position: absolute;
    bottom: 0;
  }

  .places__top span{
    display: none;
  }
  .select__input{
    display: flex;
    padding: 14px 14px;
    border-radius: 10px;
  }
  .select__input option{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}